---
swagger: "2.0"
info:
  description: "This API allows you to perform many of the operations required to\
    \ work with Quay repositories, users, and organizations. You can find out more\
    \ at <a href=\"https://quay.io\">Quay</a>."
  version: "v1"
  title: "Quay Frontend"
  termsOfService: "https://quay.io/tos"
  contact:
    email: "support@quay.io"
host: "quay.io"
basePath: "/"
tags:
- name: "billing"
  description: "Billing information, subscriptions, and plan information."
- name: "build"
  description: "Create, list, cancel and get status/logs of repository builds."
- name: "discovery"
  description: "API discovery information."
- name: "error"
  description: "Error details API"
- name: "globalmessages"
  description: "Messages API."
- name: "image"
  description: "List and lookup repository images."
- name: "logs"
  description: "Access usage logs for organizations or repositories."
- name: "manifest"
  description: "Manage the manifests of a repository."
- name: "organization"
  description: "Manage organizations, members and OAuth applications."
- name: "permission"
  description: "Manage repository permissions."
- name: "prototype"
  description: "Manage default permissions added to repositories."
- name: "repository"
  description: "List, create and manage repositories."
- name: "repositorynotification"
  description: "List, create and manage repository events/notifications."
- name: "repotoken"
  description: "Manage repository access tokens (DEPRECATED)."
- name: "robot"
  description: "Manage user and organization robot accounts."
- name: "search"
  description: "Conduct searches against all registry context."
- name: "secscan"
  description: "List and manage repository vulnerabilities and other security information."
- name: "signing"
  description: "List and manage repository signing information"
- name: "tag"
  description: "Manage the tags of a repository."
- name: "team"
  description: "Create, list and manage an organization's teams."
- name: "trigger"
  description: "Create, list and manage build triggers."
- name: "user"
  description: "Manage the current user."
- name: "userfiles"
  description: ""
schemes:
- "https"
paths:
  /api/v1/organization/{orgname}/invoices:
    get:
      tags:
      - "billing"
      description: "List the invoices for the specified orgnaization."
      operationId: "listOrgInvoices"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.billing.OrganizationInvoiceList"
    x-tag: "billing"
    x-path: "/api/v1/organization/{orgname}/invoices"
  /api/v1/plans/:
    get:
      tags:
      - "billing"
      description: "List the avaialble plans."
      operationId: "listPlans"
      parameters: []
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    x-name: "endpoints.api.billing.ListPlans"
    x-tag: "billing"
    x-path: "/api/v1/plans/"
  /api/v1/repository/{repository}/build/:
    get:
      tags:
      - "build"
      description: "Get the list of repository builds."
      operationId: "getRepoBuilds"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - name: "since"
        in: "query"
        description: "Returns all builds since the given unix timecode"
        required: false
        type: "integer"
        x-exportParamName: "Since"
      - name: "limit"
        in: "query"
        description: "The maximum number of builds to return"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    post:
      tags:
      - "build"
      description: "Request that a repository be built and pushed from the specified\
        \ input."
      operationId: "requestRepoBuild"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/RepositoryBuildRequest"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:write"
    x-name: "endpoints.api.build.RepositoryBuildList"
    x-path: "/api/v1/repository/{repository}/build/"
    x-tag: "build"
  /api/v1/repository/{repository}/build/{build_uuid}/status:
    get:
      tags:
      - "build"
      description: "Return the status for the builds specified by the build uuids."
      operationId: "getRepoBuildStatus"
      parameters:
      - name: "build_uuid"
        in: "path"
        description: "The UUID of the build"
        required: true
        type: "string"
        x-exportParamName: "BuildUuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    x-name: "endpoints.api.build.RepositoryBuildStatus"
    x-tag: "build"
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}/status"
  /api/v1/repository/{repository}/build/{build_uuid}:
    get:
      tags:
      - "build"
      description: "Returns information about a build."
      operationId: "getRepoBuild"
      parameters:
      - name: "build_uuid"
        in: "path"
        description: "The UUID of the build"
        required: true
        type: "string"
        x-exportParamName: "BuildUuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    delete:
      tags:
      - "build"
      description: "Cancels a repository build."
      operationId: "cancelRepoBuild"
      parameters:
      - name: "build_uuid"
        in: "path"
        description: "The UUID of the build"
        required: true
        type: "string"
        x-exportParamName: "BuildUuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.build.RepositoryBuildResource"
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}"
    x-tag: "build"
  /api/v1/repository/{repository}/build/{build_uuid}/logs:
    get:
      tags:
      - "build"
      description: "Return the build logs for the build specified by the build uuid."
      operationId: "getRepoBuildLogs"
      parameters:
      - name: "build_uuid"
        in: "path"
        description: "The UUID of the build"
        required: true
        type: "string"
        x-exportParamName: "BuildUuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    x-name: "endpoints.api.build.RepositoryBuildLogs"
    x-tag: "build"
    x-path: "/api/v1/repository/{repository}/build/{build_uuid}/logs"
  /api/v1/discovery:
    get:
      tags:
      - "discovery"
      description: "List all of the API endpoints available in the swagger API format."
      operationId: "discovery"
      parameters:
      - name: "internal"
        in: "query"
        description: "Whether to include internal APIs."
        required: false
        type: "boolean"
        x-exportParamName: "Internal"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    x-name: "endpoints.api.discovery.DiscoveryResource"
    x-tag: "discovery"
    x-path: "/api/v1/discovery"
  /api/v1/error/{error_type}:
    get:
      tags:
      - "error"
      description: "Get a detailed description of the error"
      operationId: "getErrorDescription"
      parameters:
      - name: "error_type"
        in: "path"
        description: "The error code identifying the type of error."
        required: true
        type: "string"
        x-exportParamName: "ErrorType"
      responses:
        200:
          description: "Successful invocation"
          schema:
            $ref: "#/definitions/ApiErrorDescription"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    x-name: "endpoints.api.error.Error"
    x-tag: "error"
    x-path: "/api/v1/error/{error_type}"
  /api/v1/messages:
    get:
      tags:
      - "globalmessages"
      description: "Return a super users messages"
      operationId: "getGlobalMessages"
      parameters: []
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    post:
      tags:
      - "globalmessages"
      description: "Create a message"
      operationId: "createGlobalMessage"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/CreateMessage"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "super:user"
    x-name: "endpoints.api.globalmessages.GlobalUserMessages"
    x-tag: "globalmessages"
    x-path: "/api/v1/messages"
  /api/v1/repository/{repository}/image/{image_id}:
    get:
      tags:
      - "image"
      description: "Get the information available for the specified image."
      operationId: "getImage"
      parameters:
      - name: "image_id"
        in: "path"
        description: "The Docker image ID"
        required: true
        type: "string"
        x-exportParamName: "ImageId"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    x-name: "endpoints.api.image.RepositoryImage"
    x-tag: "image"
    x-path: "/api/v1/repository/{repository}/image/{image_id}"
  /api/v1/repository/{repository}/image/:
    get:
      tags:
      - "image"
      description: "List the images for the specified repository."
      operationId: "listRepositoryImages"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    x-name: "endpoints.api.image.RepositoryImageList"
    x-tag: "image"
    x-path: "/api/v1/repository/{repository}/image/"
  /api/v1/organization/{orgname}/aggregatelogs:
    get:
      tags:
      - "logs"
      description: "Gets the aggregated logs for the specified organization."
      operationId: "getAggregateOrgLogs"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "performer"
        in: "query"
        description: "Username for which to filter logs."
        required: false
        type: "string"
        x-exportParamName: "Performer"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.logs.OrgAggregateLogs"
    x-tag: "logs"
    x-path: "/api/v1/organization/{orgname}/aggregatelogs"
  /api/v1/organization/{orgname}/logs:
    get:
      tags:
      - "logs"
      description: "List the logs for the specified organization."
      operationId: "listOrgLogs"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "next_page"
        in: "query"
        description: "The page token for the next page"
        required: false
        type: "string"
        x-exportParamName: "NextPage"
      - name: "page"
        in: "query"
        description: "The page number for the logs"
        required: false
        type: "integer"
        x-exportParamName: "Page"
      - name: "performer"
        in: "query"
        description: "Username for which to filter logs."
        required: false
        type: "string"
        x-exportParamName: "Performer"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.logs.OrgLogs"
    x-tag: "logs"
    x-path: "/api/v1/organization/{orgname}/logs"
  /api/v1/repository/{repository}/logs:
    get:
      tags:
      - "logs"
      description: "List the logs for the specified repository."
      operationId: "listRepoLogs"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - name: "next_page"
        in: "query"
        description: "The page token for the next page"
        required: false
        type: "string"
        x-exportParamName: "NextPage"
      - name: "page"
        in: "query"
        description: "The page number for the logs"
        required: false
        type: "integer"
        x-exportParamName: "Page"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.logs.RepositoryLogs"
    x-tag: "logs"
    x-path: "/api/v1/repository/{repository}/logs"
  /api/v1/user/logs:
    get:
      tags:
      - "logs"
      description: "List the logs for the current user."
      operationId: "listUserLogs"
      parameters:
      - name: "next_page"
        in: "query"
        description: "The page token for the next page"
        required: false
        type: "string"
        x-exportParamName: "NextPage"
      - name: "performer"
        in: "query"
        description: "Username for which to filter logs."
        required: false
        type: "string"
        x-exportParamName: "Performer"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.logs.UserLogs"
    x-tag: "logs"
    x-path: "/api/v1/user/logs"
  /api/v1/user/aggregatelogs:
    get:
      tags:
      - "logs"
      description: "Returns the aggregated logs for the current user."
      operationId: "getAggregateUserLogs"
      parameters:
      - name: "performer"
        in: "query"
        description: "Username for which to filter logs."
        required: false
        type: "string"
        x-exportParamName: "Performer"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs. (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.logs.UserAggregateLogs"
    x-tag: "logs"
    x-path: "/api/v1/user/aggregatelogs"
  /api/v1/repository/{repository}/aggregatelogs:
    get:
      tags:
      - "logs"
      description: "Returns the aggregated logs for the specified repository."
      operationId: "getAggregateRepoLogs"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - name: "endtime"
        in: "query"
        description: "Latest time to which to get logs (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Endtime"
      - name: "starttime"
        in: "query"
        description: "Earliest time from which to get logs (%m/%d/%Y %Z)"
        required: false
        type: "string"
        x-exportParamName: "Starttime"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.logs.RepositoryAggregateLogs"
    x-tag: "logs"
    x-path: "/api/v1/repository/{repository}/aggregatelogs"
  /api/v1/repository/{repository}/manifest/{manifestref}/labels:
    get:
      tags:
      - "manifest"
      description: ""
      operationId: "listManifestLabels"
      parameters:
      - name: "manifestref"
        in: "path"
        description: "The digest of the manifest"
        required: true
        type: "string"
        x-exportParamName: "Manifestref"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - name: "filter"
        in: "query"
        description: "If specified, only labels matching the given prefix will be\
          \ returned"
        required: false
        type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    post:
      tags:
      - "manifest"
      description: "Adds a new label into the tag manifest."
      operationId: "addManifestLabel"
      parameters:
      - name: "manifestref"
        in: "path"
        description: "The digest of the manifest"
        required: true
        type: "string"
        x-exportParamName: "Manifestref"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/AddLabel"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:write"
    x-name: "endpoints.api.manifest.RepositoryManifestLabels"
    x-path: "/api/v1/repository/{repository}/manifest/{manifestref}/labels"
    x-tag: "manifest"
  /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}:
    get:
      tags:
      - "manifest"
      description: "Retrieves the label with the specific ID under the manifest."
      operationId: "getManifestLabel"
      parameters:
      - name: "labelid"
        in: "path"
        description: "The ID of the label"
        required: true
        type: "string"
        x-exportParamName: "Labelid"
      - name: "manifestref"
        in: "path"
        description: "The digest of the manifest"
        required: true
        type: "string"
        x-exportParamName: "Manifestref"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    delete:
      tags:
      - "manifest"
      description: "Deletes an existing label from a manifest."
      operationId: "deleteManifestLabel"
      parameters:
      - name: "labelid"
        in: "path"
        description: "The ID of the label"
        required: true
        type: "string"
        x-exportParamName: "Labelid"
      - name: "manifestref"
        in: "path"
        description: "The digest of the manifest"
        required: true
        type: "string"
        x-exportParamName: "Manifestref"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:write"
    x-name: "endpoints.api.manifest.ManageRepositoryManifestLabel"
    x-path: "/api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}"
    x-tag: "manifest"
  /api/v1/organization/{orgname}/members/{membername}:
    get:
      tags:
      - "organization"
      description: "Retrieves the details of a member of the organization."
      operationId: "getOrganizationMember"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "membername"
        in: "path"
        description: "The username of the organization member"
        required: true
        type: "string"
        x-exportParamName: "Membername"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    delete:
      tags:
      - "organization"
      description: "Removes a member from an organization, revoking all its repository\n\
        \        priviledges and removing it from all teams in the organization."
      operationId: "removeOrganizationMember"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "membername"
        in: "path"
        description: "The username of the organization member"
        required: true
        type: "string"
        x-exportParamName: "Membername"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.organization.OrganizationMember"
    x-path: "/api/v1/organization/{orgname}/members/{membername}"
    x-tag: "organization"
  /api/v1/organization/{orgname}:
    get:
      tags:
      - "organization"
      description: "Get the details for the specified organization"
      operationId: "getOrganization"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    put:
      tags:
      - "organization"
      description: "Change the details for the specified organization."
      operationId: "changeOrganizationDetails"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/UpdateOrg"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    delete:
      tags:
      - "organization"
      description: "Deletes the specified organization."
      operationId: "deleteAdminedOrganization"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.organization.Organization"
    x-path: "/api/v1/organization/{orgname}"
    x-tag: "organization"
  /api/v1/organization/{orgname}/applications/{client_id}:
    get:
      tags:
      - "organization"
      description: "Retrieves the application with the specified client_id under the\
        \ specified organization"
      operationId: "getOrganizationApplication"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "client_id"
        in: "path"
        description: "The OAuth client ID"
        required: true
        type: "string"
        x-exportParamName: "ClientId"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    put:
      tags:
      - "organization"
      description: "Updates an application under this organization."
      operationId: "updateOrganizationApplication"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "client_id"
        in: "path"
        description: "The OAuth client ID"
        required: true
        type: "string"
        x-exportParamName: "ClientId"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/UpdateApp"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    delete:
      tags:
      - "organization"
      description: "Deletes the application under this organization."
      operationId: "deleteOrganizationApplication"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "client_id"
        in: "path"
        description: "The OAuth client ID"
        required: true
        type: "string"
        x-exportParamName: "ClientId"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.organization.OrganizationApplicationResource"
    x-path: "/api/v1/organization/{orgname}/applications/{client_id}"
    x-tag: "organization"
  /api/v1/organization/:
    post:
      tags:
      - "organization"
      description: "Create a new organization."
      operationId: "createOrganization"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NewOrg"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.organization.OrganizationList"
    x-tag: "organization"
    x-path: "/api/v1/organization/"
  /api/v1/app/{client_id}:
    get:
      tags:
      - "organization"
      description: "Get information on the specified application."
      operationId: "getApplicationInformation"
      parameters:
      - name: "client_id"
        in: "path"
        description: "The OAuth client ID"
        required: true
        type: "string"
        x-exportParamName: "ClientId"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
    x-name: "endpoints.api.organization.ApplicationInformation"
    x-tag: "organization"
    x-path: "/api/v1/app/{client_id}"
  /api/v1/organization/{orgname}/applications:
    get:
      tags:
      - "organization"
      description: "List the applications for the specified organization"
      operationId: "getOrganizationApplications"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    post:
      tags:
      - "organization"
      description: "Creates a new application under this organization."
      operationId: "createOrganizationApplication"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NewApp"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.organization.OrganizationApplications"
    x-path: "/api/v1/organization/{orgname}/applications"
    x-tag: "organization"
  /api/v1/organization/{orgname}/members:
    get:
      tags:
      - "organization"
      description: "List the human members of the specified organization."
      operationId: "getOrganizationMembers"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.organization.OrganizationMemberList"
    x-tag: "organization"
    x-path: "/api/v1/organization/{orgname}/members"
  /api/v1/repository/{repository}/permissions/user/:
    get:
      tags:
      - "permission"
      description: "List all user permissions."
      operationId: "listRepoUserPermissions"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.permission.RepositoryUserPermissionList"
    x-tag: "permission"
    x-path: "/api/v1/repository/{repository}/permissions/user/"
  /api/v1/repository/{repository}/permissions/team/:
    get:
      tags:
      - "permission"
      description: "List all team permission."
      operationId: "listRepoTeamPermissions"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.permission.RepositoryTeamPermissionList"
    x-tag: "permission"
    x-path: "/api/v1/repository/{repository}/permissions/team/"
  /api/v1/repository/{repository}/permissions/team/{teamname}:
    get:
      tags:
      - "permission"
      description: "Fetch the permission for the specified team."
      operationId: "getTeamPermissions"
      parameters:
      - name: "teamname"
        in: "path"
        description: "The name of the team to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Teamname"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    put:
      tags:
      - "permission"
      description: "Update the existing team permission."
      operationId: "changeTeamPermissions"
      parameters:
      - name: "teamname"
        in: "path"
        description: "The name of the team to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Teamname"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/TeamPermission"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    delete:
      tags:
      - "permission"
      description: "Delete the permission for the specified team."
      operationId: "deleteTeamPermissions"
      parameters:
      - name: "teamname"
        in: "path"
        description: "The name of the team to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Teamname"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.permission.RepositoryTeamPermission"
    x-path: "/api/v1/repository/{repository}/permissions/team/{teamname}"
    x-tag: "permission"
  /api/v1/repository/{repository}/permissions/user/{username}:
    get:
      tags:
      - "permission"
      description: "Get the permission for the specified user."
      operationId: "getUserPermissions"
      parameters:
      - name: "username"
        in: "path"
        description: "The username of the user to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    put:
      tags:
      - "permission"
      description: "Update the perimssions for an existing repository."
      operationId: "changeUserPermissions"
      parameters:
      - name: "username"
        in: "path"
        description: "The username of the user to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/UserPermission"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    delete:
      tags:
      - "permission"
      description: "Delete the permission for the user."
      operationId: "deleteUserPermissions"
      parameters:
      - name: "username"
        in: "path"
        description: "The username of the user to which the permission applies"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.permission.RepositoryUserPermission"
    x-path: "/api/v1/repository/{repository}/permissions/user/{username}"
    x-tag: "permission"
  /api/v1/repository/{repository}/permissions/user/{username}/transitive:
    get:
      tags:
      - "permission"
      description: "Get the fetch the permission for the specified user."
      operationId: "getUserTransitivePermission"
      parameters:
      - name: "username"
        in: "path"
        description: "The username of the user to which the permissions apply"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.permission.RepositoryUserTransitivePermission"
    x-tag: "permission"
    x-path: "/api/v1/repository/{repository}/permissions/user/{username}/transitive"
  /api/v1/organization/{orgname}/prototypes:
    get:
      tags:
      - "prototype"
      description: "List the existing prototypes for this organization."
      operationId: "getOrganizationPrototypePermissions"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    post:
      tags:
      - "prototype"
      description: "Create a new permission prototype."
      operationId: "createOrganizationPrototypePermission"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NewPrototype"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.prototype.PermissionPrototypeList"
    x-path: "/api/v1/organization/{orgname}/prototypes"
    x-tag: "prototype"
  /api/v1/organization/{orgname}/prototypes/{prototypeid}:
    put:
      tags:
      - "prototype"
      description: "Update the role of an existing permission prototype."
      operationId: "updateOrganizationPrototypePermission"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "prototypeid"
        in: "path"
        description: "The ID of the prototype"
        required: true
        type: "string"
        x-exportParamName: "Prototypeid"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/PrototypeUpdate"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    delete:
      tags:
      - "prototype"
      description: "Delete an existing permission prototype."
      operationId: "deleteOrganizationPrototypePermission"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "prototypeid"
        in: "path"
        description: "The ID of the prototype"
        required: true
        type: "string"
        x-exportParamName: "Prototypeid"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.prototype.PermissionPrototype"
    x-path: "/api/v1/organization/{orgname}/prototypes/{prototypeid}"
    x-tag: "prototype"
  /api/v1/repository:
    get:
      tags:
      - "repository"
      description: "Fetch the list of repositories visible to the current user under\
        \ a variety of situations."
      operationId: "listRepos"
      parameters:
      - name: "next_page"
        in: "query"
        description: "The page token for the next page"
        required: false
        type: "string"
        x-exportParamName: "NextPage"
      - name: "repo_kind"
        in: "query"
        description: "The kind of repositories to return"
        required: false
        type: "string"
        x-exportParamName: "RepoKind"
      - name: "popularity"
        in: "query"
        description: "Whether to include the repository's popularity metric."
        required: false
        type: "boolean"
        x-exportParamName: "Popularity"
      - name: "last_modified"
        in: "query"
        description: "Whether to include when the repository was last modified."
        required: false
        type: "boolean"
        x-exportParamName: "LastModified"
      - name: "public"
        in: "query"
        description: "Adds any repositories visible to the user by virtue of being\
          \ public"
        required: false
        type: "boolean"
        x-exportParamName: "Public"
      - name: "starred"
        in: "query"
        description: "Filters the repositories returned to those starred by the user"
        required: false
        type: "boolean"
        x-exportParamName: "Starred"
      - name: "namespace"
        in: "query"
        description: "Filters the repositories returned to this namespace"
        required: false
        type: "string"
        x-exportParamName: "Namespace"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    post:
      tags:
      - "repository"
      description: "Create a new repository."
      operationId: "createRepo"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NewRepo"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:create"
    x-name: "endpoints.api.repository.RepositoryList"
    x-tag: "repository"
    x-path: "/api/v1/repository"
  /api/v1/repository/{repository}/changevisibility:
    post:
      tags:
      - "repository"
      description: "Change the visibility of a repository."
      operationId: "changeRepoVisibility"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/ChangeVisibility"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repository.RepositoryVisibility"
    x-tag: "repository"
    x-path: "/api/v1/repository/{repository}/changevisibility"
  /api/v1/repository/{repository}:
    get:
      tags:
      - "repository"
      description: "Fetch the specified repository."
      operationId: "getRepo"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - name: "includeStats"
        in: "query"
        description: "Whether to include action statistics"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeStats"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:read"
    put:
      tags:
      - "repository"
      description: "Update the description in the specified repository."
      operationId: "updateRepo"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/RepoUpdate"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:write"
    delete:
      tags:
      - "repository"
      description: "Delete a repository."
      operationId: "deleteRepository"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repository.Repository"
    x-path: "/api/v1/repository/{repository}"
    x-tag: "repository"
  /api/v1/repository/{repository}/changetrust:
    post:
      tags:
      - "repository"
      description: "Change the visibility of a repository."
      operationId: "changeRepoTrust"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/ChangeRepoTrust"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repository.RepositoryTrust"
    x-tag: "repository"
    x-path: "/api/v1/repository/{repository}/changetrust"
  /api/v1/repository/{repository}/notification/{uuid}/test:
    post:
      tags:
      - "repositorynotification"
      description: "Queues a test notification for this repository."
      operationId: "testRepoNotification"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The UUID of the notification"
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repositorynotification.TestRepositoryNotification"
    x-tag: "repositorynotification"
    x-path: "/api/v1/repository/{repository}/notification/{uuid}/test"
  /api/v1/repository/{repository}/notification/:
    get:
      tags:
      - "repositorynotification"
      description: "List the notifications for the specified repository."
      operationId: "listRepoNotifications"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    post:
      tags:
      - "repositorynotification"
      description: ""
      operationId: "createRepoNotification"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NotificationCreateRequest"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repositorynotification.RepositoryNotificationList"
    x-path: "/api/v1/repository/{repository}/notification/"
    x-tag: "repositorynotification"
  /api/v1/repository/{repository}/notification/{uuid}:
    get:
      tags:
      - "repositorynotification"
      description: "Get information for the specified notification."
      operationId: "getRepoNotification"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The UUID of the notification"
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    post:
      tags:
      - "repositorynotification"
      description: "Resets repository notification to 0 failures."
      operationId: "resetRepositoryNotificationFailures"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The UUID of the notification"
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    delete:
      tags:
      - "repositorynotification"
      description: "Deletes the specified notification."
      operationId: "deleteRepoNotification"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The UUID of the notification"
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repositorynotification.RepositoryNotification"
    x-path: "/api/v1/repository/{repository}/notification/{uuid}"
    x-tag: "repositorynotification"
  /api/v1/repository/{repository}/tokens/:
    get:
      tags:
      - "repotoken"
      description: "List the tokens for the specified repository."
      operationId: "listRepoTokens"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    post:
      tags:
      - "repotoken"
      description: "Create a new repository token."
      operationId: "createToken"
      parameters:
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/NewToken"
        x-exportParamName: "Body"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repotoken.RepositoryTokenList"
    x-path: "/api/v1/repository/{repository}/tokens/"
    x-tag: "repotoken"
  /api/v1/repository/{repository}/tokens/{code}:
    get:
      tags:
      - "repotoken"
      description: "Fetch the specified repository token information."
      operationId: "getTokens"
      parameters:
      - name: "code"
        in: "path"
        description: "The token code"
        required: true
        type: "string"
        x-exportParamName: "Code"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    put:
      tags:
      - "repotoken"
      description: "Update the permissions for the specified repository token."
      operationId: "changeToken"
      parameters:
      - name: "code"
        in: "path"
        description: "The token code"
        required: true
        type: "string"
        x-exportParamName: "Code"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      - in: "body"
        name: "body"
        description: "Request body contents."
        required: true
        schema:
          $ref: "#/definitions/TokenPermission"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    delete:
      tags:
      - "repotoken"
      description: "Delete the repository token."
      operationId: "deleteToken"
      parameters:
      - name: "code"
        in: "path"
        description: "The token code"
        required: true
        type: "string"
        x-exportParamName: "Code"
      - name: "repository"
        in: "path"
        description: "The full path of the repository. e.g. namespace/name"
        required: true
        type: "string"
        x-exportParamName: "Repository"
      responses:
        204:
          description: "Deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "repo:admin"
    x-name: "endpoints.api.repotoken.RepositoryToken"
    x-path: "/api/v1/repository/{repository}/tokens/{code}"
    x-tag: "repotoken"
  /api/v1/user/robots:
    get:
      tags:
      - "robot"
      description: "List the available robots for the user."
      operationId: "getUserRobots"
      parameters:
      - name: "permissions"
        in: "query"
        description: "Whether to include repositories and teams in which the robots\
          \ have permission."
        required: false
        type: "boolean"
        x-exportParamName: "Permissions"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.robot.UserRobotList"
    x-tag: "robot"
    x-path: "/api/v1/user/robots"
  /api/v1/organization/{orgname}/robots/{robot_shortname}/permissions:
    get:
      tags:
      - "robot"
      description: "Returns the list of repository permissions for the org's robot."
      operationId: "getOrgRobotPermissions"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.robot.OrgRobotPermissions"
    x-tag: "robot"
    x-path: "/api/v1/organization/{orgname}/robots/{robot_shortname}/permissions"
  /api/v1/organization/{orgname}/robots/{robot_shortname}/regenerate:
    post:
      tags:
      - "robot"
      description: "Regenerates the token for an organization robot."
      operationId: "regenerateOrgRobotToken"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.robot.RegenerateOrgRobot"
    x-tag: "robot"
    x-path: "/api/v1/organization/{orgname}/robots/{robot_shortname}/regenerate"
  /api/v1/organization/{orgname}/robots:
    get:
      tags:
      - "robot"
      description: "List the organization's robots."
      operationId: "getOrgRobots"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "permissions"
        in: "query"
        description: "Whether to include repostories and teams in which the robots\
          \ have permission."
        required: false
        type: "boolean"
        x-exportParamName: "Permissions"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    x-name: "endpoints.api.robot.OrgRobotList"
    x-tag: "robot"
    x-path: "/api/v1/organization/{orgname}/robots"
  /api/v1/user/robots/{robot_shortname}/permissions:
    get:
      tags:
      - "robot"
      description: "Returns the list of repository permissions for the user's robot."
      operationId: "getUserRobotPermissions"
      parameters:
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.robot.UserRobotPermissions"
    x-tag: "robot"
    x-path: "/api/v1/user/robots/{robot_shortname}/permissions"
  /api/v1/user/robots/{robot_shortname}/regenerate:
    post:
      tags:
      - "robot"
      description: "Regenerates the token for a user's robot."
      operationId: "regenerateUserRobotToken"
      parameters:
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        201:
          description: "Successful creation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "user:admin"
    x-name: "endpoints.api.robot.RegenerateUserRobot"
    x-tag: "robot"
    x-path: "/api/v1/user/robots/{robot_shortname}/regenerate"
  /api/v1/organization/{orgname}/robots/{robot_shortname}:
    get:
      tags:
      - "robot"
      description: "Returns the organization's robot with the specified name."
      operationId: "getOrgRobot"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    put:
      tags:
      - "robot"
      description: "Create a new robot in the organization."
      operationId: "createOrgRobot"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        200:
          description: "Successful invocation"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ApiError"
        401:
          description: "Session required"
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: "Unauthorized access"
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - oauth2_implicit:
        - "org:admin"
    delete:
      tags:
      - "robot"
      description: "Delete an existing organization robot."
      operationId: "deleteOrgRobot"
      parameters:
      - name: "orgname"
        in: "path"
        description: "The name of the organization"
        required: true
        type: "string"
        x-exportParamName: "Orgname"
      - name: "robot_shortname"
        in: "path"
        description: "The short name for the robot, without any user or organization\
          \ prefix"
        required: true
        type: "string"
        x-exportParamName: "RobotShortname"
      responses:
        204:
          description: "Deleted"
        400:
[...]
